body {
    background-color: black;
}

h1 {
    color: white;
}

div {
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    margin-inline: auto;
    transition: 1s;
}

.ball1 {
    background-color: yellow;
}

.ball2 {
    background-color: aquamarine;
}

.ball3 {
    background-color: red;
}