body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 , .counter, .curr-move{
    color: white;
}

.top-display{
    display: flex;
    margin-block-end: 20px;
}

.top-display *{
    margin-inline: 10px;
}

.ball {
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    margin-inline: auto;
    margin-block: 20px;
    transition: 1s;
}

/* .ball1 {
    background-color: yellow;
}

.ball2 {
    background-color: aquamarine;
} */

.ball3 {
    background-color: red;
}

.ball4 {
    background-color: green;
}

.ball5 {
    background-color: blue;
}

.ball6 {
    background-color: pink;
}